/* --ice-blue: #90fcf9ff;
--aero: #63b4d1ff;
--vista-blue: #7699d4ff;
--purpureus: #9448bcff;
--russian-violet: #480355ff; */

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  width: 7rem;
  height: 1.6rem;
}

input:focus {
  outline: none;
}

select {
  background-color: white;
  width: 8rem;
  height: 1.8rem;
  padding-right: 1.2rem;
  border: none;
  color: #480355ff;
  font-size: 0.8rem;
  appearance: none;
  -moz-appearance: none;
  background-image: url(images/chevron-down-solid.svg);
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.6rem);
}

button {
  background-color: #9448bcff;
  color: white;
  border: none;
}

.wrapper {
  width: 92%;
}

nav {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__wrapper {
  height: 1.6rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__wrapper__list {
  position: absolute;
  z-index: 1000;
  top: 2.6rem;
  right: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  overflow: hidden;
  transition: 0.4s height ease-out;
}

.nav__wrapper__list--active {
  height: 10rem;
  border-bottom: 4px solid #63b4d1ff;
}

.nav__wrapper__list-item {
  margin: 0.2rem;
  padding: 0.4rem 0 0.2rem 0.4rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.nav__wrapper__list-item a {
  color: #480355ff;
}

.wrapper__hamburger-menu__bars {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__hamburger-menu__bars i {
  font-size: 1.4rem;
  color: #480355ff;
}

@media (min-width: 640px) {
  nav {
    height: 6rem;
  }
  .nav__wrapper {
    height: 90%;
    width: 85%;
  }

  .nav__wrapper__list {
    position: static;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 320px;
  }

  .nav__wrapper__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.1rem;
    height: 80%;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s background-color ease-in-out;
  }

  .nav__wrapper__list-item:hover {
    background-color: #63b4d1ff;
  }

  .nav__wrapper__list-item:hover a {
    color: white;
  }

  .nav__wrapper__hamburger-menu {
    display: none;
  }
}

@media (min-width: 1240px) {
  nav {
    height: 6rem;
  }
  .nav__wrapper {
    height: 90%;
    width: 60%;
  }

  .nav__wrapper__list {
    position: static;
    height: 100%;
    flex-direction: row;
    align-items: center;
    min-width: 320px;
    max-width: 440px;
  }

  .nav__wrapper__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.1rem;
    height: 80%;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s background-color ease-in-out;
  }

  .nav__wrapper__list-item:hover {
    background-color: #63b4d1ff;
  }

  .nav__wrapper__list-item:hover a {
    color: white;
  }

  .nav__wrapper__hamburger-menu {
    display: none;
  }
}

/*!!!!!!!!!!!!!!! BANNER !!!!!!!!!!!!!*/
main {
  width: 100%;
}

.banner {
  height: 84vh;
  background-image: linear-gradient(
      to bottom,
      rgba(105, 105, 105, 0.6),
      rgba(105, 105, 105, 0.6)
    ),
    url("images/mountains_medium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__wrapper {
  height: 92%;
}

.banner__search-box {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.banner__search-box__item {
  width: 86%;
  height: 2.8rem;
  margin: 0.9rem 0 0.4rem 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner__search-box__item i {
  padding: 0 0.4rem 0 0.6rem;
  color: #7699d4ff;
  font-size: 1.6rem;
  width: 18%;
}

.banner__search-box__item input {
  width: 100%;
  height: 80%;
  border: none;
}
.banner__search-box__item select {
  width: 100%;
  height: 80%;
  border: none;
}

.banner__search-box__item--border {
  border: 1px solid #63b4d1ff;
}

.banner__search-box__button {
  padding: 0.6rem 0.8rem;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
}

.banner__search-box__item p {
  color: rgb(163, 163, 163);
  text-align: center;
}

@media (min-width: 640px) {
  .banner {
    height: 60vh;
    background-image: linear-gradient(
        to bottom,
        rgba(105, 105, 105, 1),
        rgba(105, 105, 105, 0.1)
      ),
      url("images/mountains_medium.jpg");
    align-items: flex-start;
  }

  .banner__wrapper {
    width: 85%;
    height: auto;
  }

  .banner__search-box {
    margin: 8% auto 0 auto;
    width: 100%;
    align-items: center;
    padding: 2rem 0;
  }

  .banner__search-box__row {
    display: flex;
    flex-direction: row;
    width: 98%;
    align-items: center;
    justify-content: center;
  }

  .banner__search-box__row:last-child {
    justify-content: flex-start;
  }

  .banner__search-box__item {
    height: 3rem;
    margin: 1rem 0.5rem;
    margin: 0.4rem 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .banner__search-box__item i {
    font-size: 1.2rem;
    width: 3rem;
  }

  .banner__search-box__button {
    padding: 0.6rem 0.8rem;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .banner__search-box__button:hover {
    transition: 0.15s background-color ease-out;
    background-color: #63b4d1ff;
  }
}

@media (min-width: 1240px) {
  .banner {
    height: 70vh;
    background-image: linear-gradient(
        to bottom,
        rgba(105, 105, 105, 1),
        rgba(105, 105, 105, 0.1)
      ),
      url("images/mountains_fhd.jpg");
  }

  .banner__wrapper {
    width: 60%;
  }
}
